:root {
  --text-primary: #0e0e11;
  --text-secondary: #71717a;
}

html,
body {
  background-color: #f7f7f7 !important;
}

.text-color-primary {
  color: var(--text-primary);
}
.text-color-secondary {
  color: var(--text-secondary);
}

section {
  background-color: #ffffff;
  border: #d4d4d8 1px solid;
}
